* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

#wrap {
    width: 100%;
    min-width:768px;
}

header {
    width: 100%;
    height: 80px;
    position: relative;
    overflow: auto;
}

.header-cont {
    position:fixed;
    width:100%;
    height: 80px;
}

#logo {
    float: left;
    height:100%;
    width: 22%;
    position: relative;
    border-bottom:5px solid #455A64;
    border-right:1px solid #455A64;
}

#logo * {
    display: inline-block;
}

#logo img {
    padding-top:8px;
    padding-left:8px;
    vertical-align: middle;
}

#logo span {
    color: #212121;
    position: absolute; 
    padding-top:8px;
    left:60px;
    top: 14.5px;
    font-size: 26px;
}

nav {
    vertical-align: bottom;
    display: inline-block;
    float:right;
    width: 78%;
    height: 25px;
    position: absolute; 
    bottom: 0; 
}

nav ul {
    width: 100%;
    height: 25px;
    text-decoration: none;
    display: inline-block;
}

nav ul li {
    text-align: center;
    vertical-align: center;
    display: inline-block;
    height: 100%;
    width: 20%;
}

nav ul li a{
    color: #212121;
    text-decoration: none;
}

nav ul li:hover{
    padding-bottom:5px;
    box-shadow: 2px 2px 5px black;
}

nav ul li:hover + .more-info{
    display: block;
    box-shadow: 2px 2px 5px black;
}

.more-info:hover {
    display: block;
}

.more-info {
    position:absolute;
    text-align: center;
    vertical-align: center;
    padding: 5px 5px 5px 5px;
    display: none;
    color: #212121;
    width: -calc(20% - 10px);
    width: -webkit-calc(20% - 10px);
    width: -moz-calc(20% - 10px);
    width: -o-calc(20% - 10px);
    min-height: 25px;
}

.more-info p{
    text-align: justify;
    text-justify: inter-word;
}  

#content{
    width:100%;
    display:table;
    height: -calc(100vh - 160px);
    height: -webkit-calc(100vh - 160px);
    height: -moz-calc(100vh - 160px);
    height: -o-calc(100vh - 160px);
}

.row{
    display:table-row;
}

#main {
    padding-bottom:5px;
    height: 100%;
    width: 78%;
}

#bar {
    width: 22%;
    height: 100%;
}

section {
    display: table-cell;
}

footer {
    height: 80px;
    width: 100%;
    text-align: center;
    display:block;
}

footer h6 {
    color: #212121;
    height: 100%;
    vertical-align: middle;
}

#bar * {
    color: #212121;
}

#bar h3 {
    text-align:center;
    padding-right:5px;
}

#bar p{
    padding-right:8px;
    padding-left:8px;
    padding-bottom:10px;
    text-align: justify;
    text-justify: inter-word;
}

.article {
    background: #CFD8DC;
    margin-right: 7px;
    margin-left: 5px;
    margin-top: 5px;
    display: block;
    border: 1px solid #B6B6B6;
    overflow: auto;
    box-shadow: 2px 2px 5px black;
}

.article *{
    color: #212121;
    padding-left: 5px;
    padding-top: 5px;
}

.article p {
    padding-left:20px;
    padding-right:20px;
    text-align: justify;
    text-justify: inter-word;
}

.article h5{
    display:block;
    padding-bottom:5px;
    padding-right:5px;
    float:right;
}

.active{
    background: #607D8B;
    color: #212121;
}

.not-active:hover{
    background: #CFD8DC;
}

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
